# 星巴克毕业项目

### 简介

这个数据集是一些模拟 Starbucks rewards 移动 app 上用户行为的数据。每隔几天，星巴克会向 app 的用户发送一些推送。这个推送可能仅仅是一条饮品的广告或者是折扣券或 BOGO（买一送一）。一些顾客可能一连几周都收不到任何推送。 

顾客收到的推送可能是不同的，这就是这个数据集的挑战所在。

你的任务是将交易数据、人口统计数据和推送数据结合起来判断哪一类人群会受到某种推送的影响。这个数据集是从星巴克 app 的真实数据简化而来。因为下面的这个模拟器仅产生了一种饮品， 实际上星巴克的饮品有几十种。

每种推送都有有效期。例如，买一送一（BOGO）优惠券推送的有效期可能只有 5 天。你会发现数据集中即使是一些消息型的推送都有有效期，哪怕这些推送仅仅是饮品的广告，例如，如果一条消息型推送的有效期是 7 天，你可以认为是该顾客在这 7 天都可能受到这条推送的影响。

数据集中还包含 app 上支付的交易信息，交易信息包括购买时间和购买支付的金额。交易信息还包括该顾客收到的推送种类和数量以及看了该推送的时间。顾客做出了购买行为也会产生一条记录。 

同样需要记住有可能顾客购买了商品，但没有收到或者没有看推送。

### 示例

举个例子，一个顾客在周一收到了满 10 美元减 2 美元的优惠券推送。这个推送的有效期从收到日算起一共 10 天。如果该顾客在有效日期内的消费累计达到了 10 美元，该顾客就满足了该推送的要求。

然而，这个数据集里有一些地方需要注意。即，这个推送是自动生效的；也就是说，顾客收到推送后，哪怕没有看到，满足了条件，推送的优惠依然能够生效。比如，一个顾客收到了"满10美元减2美元优惠券"的推送，但是该用户在 10 天有效期内从来没有打开看到过它。该顾客在 10 天内累计消费了 15 美元。数据集也会记录他满足了推送的要求，然而，这个顾客并没被受到这个推送的影响，因为他并不知道它的存在。

### 清洗

清洗数据非常重要也非常需要技巧。

你也要考虑到某类人群即使没有收到推送，也会购买的情况。从商业角度出发，如果顾客无论是否收到推送都打算花 10 美元，你并不希望给他发送满 10 美元减 2 美元的优惠券推送。所以你可能需要分析某类人群在没有任何推送的情况下会购买什么。

### 最后一项建议

因为这是一个毕业项目，你可以使用任何你认为合适的方法来分析数据。例如，你可以搭建一个机器学习模型来根据人口统计数据和推送的种类来预测某人会花费多少钱。或者，你也可以搭建一个模型来预测该顾客是否会对推送做出反应。或者，你也可以完全不用搭建机器学习模型。你可以开发一套启发式算法来决定你会给每个顾客发出什么样的消息（比如75% 的35 岁女性用户会对推送 A 做出反应，对推送 B 则只有 40% 会做出反应，那么应该向她们发送推送 A）。


# 数据集

一共有三个数据文件：

* portfolio.json – 包括推送的 id 和每个推送的元数据（持续时间、种类等等）
* profile.json – 每个顾客的人口统计数据
* transcript.json – 交易、收到的推送、查看的推送和完成的推送的记录

以下是文件中每个变量的类型和解释 ：

**portfolio.json**
* id (string) – 推送的id
* offer_type (string) – 推送的种类，例如 BOGO、打折（discount）、信息（informational）
* difficulty (int) – 满足推送的要求所需的最少花费
* reward (int) – 满足推送的要求后给与的优惠
* duration (int) – 推送持续的时间，单位是天
* channels (字符串列表)

**profile.json**
* age (int) – 顾客的年龄 
* became_member_on (int) – 该顾客第一次注册app的时间
* gender (str) – 顾客的性别（注意除了表示男性的 M 和表示女性的 F 之外，还有表示其他的 O）
* id (str) – 顾客id
* income (float) – 顾客的收入

**transcript.json**
* event (str) – 记录的描述（比如交易记录、推送已收到、推送已阅）
* person (str) – 顾客id
* time (int) – 单位是小时，测试开始时计时。该数据从时间点 t=0 开始
* value - (dict of strings) – 推送的id 或者交易的数额

**注意：**如果你正在使用 Workspace，在读取文件前，你需要打开终端/命令行，运行命令 `conda update pandas` 。因为 Workspace 中的 pandas 版本不能正确读入 transcript.json 文件的内容，所以需要更新到 pandas 的最新版本。你可以单击 notebook 左上角橘黄色的 jupyter 图标来打开终端/命令行。  

下面两张图展示了如何打开终端/命令行以及如何安装更新。首先打开终端/命令行：
<img src="pic1.png"/>

然后运行上面的命令：
<img src="pic2.png"/>

最后回到这个 notebook（还是点击橘黄色的 jupyter 图标），再次运行下面的单元格就不会报错了。

In [1]:
import pandas as pd
import numpy as np
import math
import json
% matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [2]:
portfolio.head()

,channels,difficulty,duration,id,offer_type,reward
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5

In [3]:
profile.head()

   age  became_member_on gender                                id    income
0  118          20170212   None  68be06ca386d4c31939f3a4f0e3dd783       NaN
1   55          20170715      F  0610b486422d4921ae7d2bf64640c50b  112000.0
2  118          20180712   None  38fe809add3b4fcf9315a9694bb96ff5       NaN
3   75          20170509      F  78afa995795e4d85b5d9ceeca43f5fef  100000.0
4  118          20170804   None  a03223e636434f42ac4c3df47e8bac43       NaN

In [4]:
profile.shape

(17000, 5)

In [5]:
# 把value的值拆成多个列（根据字典里的类型）
transcript_value_s = transcript['value'].apply(pd.Series)
transcript_value_s.head(6)

                           offer id  amount offer_id  reward
0  9b98b8c7a33c4b65b9aebfe6a799e6d9     NaN      NaN     NaN
1  0b1e1539f2cc45b7b9fa7c272da2e1d7     NaN      NaN     NaN
2  2906b810c7d4411798c6938adc9daaa5     NaN      NaN     NaN
3  fafdcd668e3743c1bb461111dcafc2a4     NaN      NaN     NaN
4  4d5c57ea9a6940dd891ad53e9dbe8da0     NaN      NaN     NaN
5  f19421c1d4aa40978ebb69ca19b0e20d     NaN      NaN     NaN

In [3]:
# offer id和offer_id这两列重复了，需要把他们合并：如果offer_id为空，则把offer id的值填到offer_id里

def combine_offer_id(a, b):
    if pd.isna(b):
        return a
    else:
        return b
    
transcript_value_s['offer_id']=transcript_value_s.apply(lambda transcript_value_s: combine_offer_id(transcript_value_s['offer id'],transcript_value_s['offer_id']),axis=1)
transcript_value_s.head()

,offer id,amount,offer_id,reward
0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
1,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
2,2906b810c7d4411798c6938adc9daaa5,NaN,2906b810c7d4411798c6938adc9daaa5,NaN
3,fafdcd668e3743c1bb461111dcafc2a4,NaN,fafdcd668e3743c1bb461111dcafc2a4,NaN
4,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN

In [4]:
# 去掉多余的offer id列
transcript_value = transcript_value_s.drop(['offer id'], axis=1)
transcript_value.head(3)

   amount                          offer_id  reward
0     NaN  9b98b8c7a33c4b65b9aebfe6a799e6d9     NaN
1     NaN  0b1e1539f2cc45b7b9fa7c272da2e1d7     NaN
2     NaN  2906b810c7d4411798c6938adc9daaa5     NaN

In [6]:
transcript.head()

,event,person,time,value
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2,offer received,e2127556f4f64592b11af22de27a7932,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}

In [5]:
# 把加工好的transcript_value合并到transcript表后面
transcript_new = pd.concat([transcript, transcript_value], axis=1, join_axes=[transcript.index])
transcript_new.head()

,event,person,time,value,amount,offer_id,reward
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},NaN,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},NaN,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
2,offer received,e2127556f4f64592b11af22de27a7932,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},NaN,2906b810c7d4411798c6938adc9daaa5,NaN
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},NaN,fafdcd668e3743c1bb461111dcafc2a4,NaN
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},NaN,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN

In [6]:
# 查看event类型有几种：
# offer received
# offer viewed
# transaction
# offer completed
transcript_new.drop_duplicates(['event'])

,event,person,time,value,amount,offer_id,reward
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},NaN,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
12650,offer viewed,389bc3fa690240e798340f5a15918d5c,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},NaN,f19421c1d4aa40978ebb69ca19b0e20d,NaN
12654,transaction,02c083884c7d45b39cc68e1314fec56c,0,{'amount': 0.8300000000000001},0.83,NaN,NaN
12658,offer completed,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,0,{'offer_id': '2906b810c7d4411798c6938adc9daaa5...,NaN,2906b810c7d4411798c6938adc9daaa5,2.0

In [13]:
transcript_new.shape

(306534, 7)

In [17]:
transcript.shape

(306534, 4)

In [18]:
portfolio

,channels,difficulty,duration,id,offer_type,reward
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2

In [7]:
# 重命名id列，使后面的merge更方便
portfolio.rename(columns={'id':'offer_id'},inplace=True) 
portfolio

,channels,difficulty,duration,offer_id,offer_type,reward
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2

In [8]:
# 重命名id列，使后面的merge更方便
profile.rename(columns={'id':'person_id'},inplace=True) 
profile.head()

   age  became_member_on gender                         person_id    income
0  118          20170212   None  68be06ca386d4c31939f3a4f0e3dd783       NaN
1   55          20170715      F  0610b486422d4921ae7d2bf64640c50b  112000.0
2  118          20180712   None  38fe809add3b4fcf9315a9694bb96ff5       NaN
3   75          20170509      F  78afa995795e4d85b5d9ceeca43f5fef  100000.0
4  118          20170804   None  a03223e636434f42ac4c3df47e8bac43       NaN

In [9]:
# 给顾客的income分类

def income_type(x):
    if pd.isna(x):
        return x
    elif x <= 50000:
        return "0~50000"
    elif x > 50000 and x <= 100000:
        return "50001~100000"
    elif x > 100000 and x <= 150000:
        return "100000~150000"
    elif x > 150000 and x <= 200000:
        return "150000~200000"
    else:
        return ">200000"
    
profile['income_type']=profile.apply(lambda profile: income_type(profile['income']),axis=1)
profile.head()

,age,became_member_on,gender,person_id,income,income_type
0,118,20170212,None,68be06ca386d4c31939f3a4f0e3dd783,NaN,NaN
1,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,100000~150000
2,118,20180712,None,38fe809add3b4fcf9315a9694bb96ff5,NaN,NaN
3,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,50001~100000
4,118,20170804,None,a03223e636434f42ac4c3df47e8bac43,NaN,NaN

In [10]:
# 给顾客的年龄age分类

def age_type(x):
    if pd.isna(x) or x == 118:
        return "None"
    elif x <= 10:
        return "0~10y"
    elif x > 10 and x <= 20:
        return "10~20y"
    elif x > 20 and x <= 30:
        return "20~30y"
    elif x > 30 and x <= 40:
        return "30~40y"
    elif x > 40 and x <= 50:
        return "40~50y"
    elif x > 50 and x <= 60:
        return "50~60y"
    elif x > 60 and x <= 70:
        return "60~70y"
    elif x > 70 and x <= 80:
        return "70~80y"
    elif x > 80 and x <= 90:
        return "80~90y"
    elif x > 90 and x <= 100:
        return "90~100y"
    else:
        return ">100y"
    
profile['age_type']=profile.apply(lambda profile: age_type(profile['age']),axis=1)
profile.head()

,age,became_member_on,gender,person_id,income,income_type,age_type
0,118,20170212,None,68be06ca386d4c31939f3a4f0e3dd783,NaN,NaN,None
1,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,100000~150000,50~60y
2,118,20180712,None,38fe809add3b4fcf9315a9694bb96ff5,NaN,NaN,None
3,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,50001~100000,70~80y
4,118,20170804,None,a03223e636434f42ac4c3df47e8bac43,NaN,NaN,None

In [11]:
# 1.1 把收到offer到行为单独提取出来
offer_received = transcript_new[transcript_new['event'] == 'offer received'].loc[:,['person','time','offer_id']]
#transcript_new[transcript_new['event'] == 'offer received']
offer_received.rename(columns={'time':'receive_time','person':'person_id'},inplace=True) 
offer_received.head()

,person_id,receive_time,offer_id
0,78afa995795e4d85b5d9ceeca43f5fef,0,9b98b8c7a33c4b65b9aebfe6a799e6d9
1,a03223e636434f42ac4c3df47e8bac43,0,0b1e1539f2cc45b7b9fa7c272da2e1d7
2,e2127556f4f64592b11af22de27a7932,0,2906b810c7d4411798c6938adc9daaa5
3,8ec6ce2a7e7949b1bf142def7d0e0586,0,fafdcd668e3743c1bb461111dcafc2a4
4,68617ca6246f4fbc85e91a2a49552598,0,4d5c57ea9a6940dd891ad53e9dbe8da0

In [12]:
# 把'person_id','offer_id'相同的行汇总count，生成唯一的'person_id','offer_id'的组合
received_cnt = offer_received.groupby(['person_id','offer_id'],as_index=False)['receive_time'].count()
received_cnt.rename(columns={'receive_time':'receive_cnt'},inplace=True) 
received_cnt

,person_id,offer_id,receive_cnt
0,0009655768c64bdeb2e877511632db8f,2906b810c7d4411798c6938adc9daaa5,1
1,0009655768c64bdeb2e877511632db8f,3f207df678b143eea3cee63160fa8bed,1
2,0009655768c64bdeb2e877511632db8f,5a8bc65990b245e5a138643cd4eb9837,1
3,0009655768c64bdeb2e877511632db8f,f19421c1d4aa40978ebb69ca19b0e20d,1
4,0009655768c64bdeb2e877511632db8f,fafdcd668e3743c1bb461111dcafc2a4,1
5,00116118485d4dfda04fdbaba9a87b5c,f19421c1d4aa40978ebb69ca19b0e20d,2
6,0011e0d4e6b944f998e987f904e8c1e5,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
7,0011e0d4e6b944f998e987f904e8c1e5,2298d6c36e964ae4a3e7e9706d1fb8c2,1
8,0011e0d4e6b944f998e987f904e8c1e5,3f207df678b143eea3cee63160fa8bed,1
9,0011e0d4e6b944f998e987f904e8c1e5,5a8bc65990b245e5a138643cd4eb9837,1
10,0011e0d4e6b944f998e987f904e8c1e5,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
11,0020c2b971eb4e9188eac86d93036a77,4d5c57ea9a6940dd891ad53e9dbe8da0,1
12,0020c2b971eb4e9188eac86d93036a77,5a8bc65990b245e5a138643cd4eb9837,1
13,0020c2b971eb4e9188eac86d93036a77,ae264e3637204a6fb9bb56bc8210ddfd,1
14,0020c2b971eb4e9188eac86d93036a77,fafdcd668e3743c1bb461111dcafc2a4,2
15,0020ccbbb6d84e358d3414a3ff76cffd,2298d6c36e964ae4a3e7e9706d1fb8c2,1
16,0020ccbbb6d84e358d3414a3ff76cffd,5a8bc65990b245e5a138643cd4eb9837,1
17,0020ccbbb6d84e358d3414a3ff76cffd,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
18,0020ccbbb6d84e358d3414a3ff76cffd,f19421c1d4aa40978ebb69ca19b0e20d,1
19,003d66b6608740288d6cc97a6903f4f0,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
20,003d66b6608740288d6cc97a6903f4f0,3f207df678b143eea3cee63160fa8bed,1
21,003d66b6608740288d6cc97a6903f4f0,5a8bc65990b245e5a138643cd4eb9837,1
22,003d66b6608740288d6cc97a6903f4f0,fafdcd668e3743c1bb461111dcafc2a4,2
23,00426fe3ffde4c6b9cb9ad6d077a13ea,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
24,00426fe3ffde4c6b9cb9ad6d077a13ea,2906b810c7d4411798c6938adc9daaa5,2
25,00426fe3ffde4c6b9cb9ad6d077a13ea,5a8bc65990b245e5a138643cd4eb9837,1
26,00426fe3ffde4c6b9cb9ad6d077a13ea,fafdcd668e3743c1bb461111dcafc2a4,1
27,004b041fbfe44859945daa2c7f79ee64,3f207df678b143eea3cee63160fa8bed,1
28,004b041fbfe44859945daa2c7f79ee64,f19421c1d4aa40978ebb69ca19b0e20d,1
29,004b041fbfe44859945daa2c7f79ee64,fafdcd668e3743c1bb461111dcafc2a4,1
...,...,...,...
63258,ffed75d3abc64b488982f50ed12878b5,4d5c57ea9a6940dd891ad53e9dbe8da0,1
63259,ffed75d3abc64b488982f50ed12878b5,ae264e3637204a6fb9bb56bc8210ddfd,1
63260,ffede3b700ac41d6a266fa1ba74b4f16,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
63261,ffede3b700ac41d6a266fa1ba74b4f16,4d5c57ea9a6940dd891ad53e9dbe8da0,1
63262,ffede3b700ac41d6a266fa1ba74b4f16,f19421c1d4aa40978ebb69ca19b0e20d,1
63263,ffede3b700ac41d6a266fa1ba74b4f16,fafdcd668e3743c1bb461111dcafc2a4,1
63264,fff0f0aac6c547b9b263080f09a5586a,3f207df678b143eea3cee63160fa8bed,2
63265,fff0f0aac6c547b9b263080f09a5586a,4d5c57ea9a6940dd891ad53e9dbe8da0,1
63266,fff29fb549084123bd046dbc5ceb4faa,4d5c57ea9a6940dd891ad53e9dbe8da0,2
63267,fff29fb549084123bd046dbc5ceb4faa,ae264e3637204a6fb9bb56bc8210ddfd,2
63268,fff29fb549084123bd046dbc5ceb4faa,f19421c1d4aa40978ebb69ca19b0e20d,1
63269,fff29fb549084123bd046dbc5ceb4faa,fafdcd668e3743c1bb461111dcafc2a4,1
63270,fff3ba4757bd42088c044ca26d73817a,2906b810c7d4411798c6938adc9daaa5,2
63271,fff3ba4757bd42088c044ca26d73817a,5a8bc65990b245e5a138643cd4eb9837,2
63272,fff3ba4757bd42088c044ca26d73817a,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
63273,fff3ba4757bd42088c044ca26d73817a,fafdcd668e3743c1bb461111dcafc2a4,1
63274,fff7576017104bcc8677a8d63322b5e1,4d5c57ea9a6940dd891ad53e9dbe8da0,1
63275,fff7576017104bcc8677a8d63322b5e1,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
63276,fff7576017104bcc8677a8d63322b5e1,ae264e3637204a6fb9bb56bc8210ddfd,1
63277,fff7576017104bcc8677a8d63322b5e1,fafdcd668e3743c1bb461111dcafc2a4,2
63278,fff8957ea8b240a6b5e634b6ee8eafcf,3f207df678b143eea3cee63160fa8bed,1
63279,fff8957ea8b240a6b5e634b6ee8eafcf,4d5c57ea9a6940dd891ad53e9dbe8da0,1
63280,fff8957ea8b240a6b5e634b6ee8eafcf,fafdcd668e3743c1bb461111dcafc2a4,1
63281,fffad4f4828548d1b5583907f2e9906b,5a8bc65990b245e5a138643cd4eb9837,1
63282,fffad4f4828548d1b5583907f2e9906b,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
63283,fffad4f4828548d1b5583907f2e9906b,f19421c1d4aa40978ebb69ca19b0e20d,2
63284,ffff82501cea40309d5fdd7edcca4a07,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
63285,ffff82501cea40309d5fdd7edcca4a07,2906b810c7d4411798c6938adc9daaa5,3
63286,ffff82501cea40309d5fdd7edcca4a07,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
63287,ffff82501cea40309d5fdd7edcca4a07,fafdcd668e3743c1bb461111dcafc2a4,1

In [13]:
# 1.2 把offer view的行为单独提取出来
offer_viewed = transcript_new[transcript_new['event'] == 'offer viewed'].loc[:,['person','time','offer_id']]
#transcript_new[transcript_new['event'] == 'offer received']
offer_viewed.rename(columns={'time':'view_time','person':'person_id'},inplace=True) 
offer_viewed.head()

,person_id,view_time,offer_id
12650,389bc3fa690240e798340f5a15918d5c,0,f19421c1d4aa40978ebb69ca19b0e20d
12651,d1ede868e29245ea91818a903fec04c6,0,5a8bc65990b245e5a138643cd4eb9837
12652,102e9454054946fda62242d2e176fdce,0,4d5c57ea9a6940dd891ad53e9dbe8da0
12653,02c083884c7d45b39cc68e1314fec56c,0,ae264e3637204a6fb9bb56bc8210ddfd
12655,be8a5d1981a2458d90b255ddc7e0d174,0,5a8bc65990b245e5a138643cd4eb9837

In [14]:
# 把'person_id','offer_id'相同的行汇总count，生成唯一的'person_id','offer_id'的组合
viewed_cnt = offer_viewed.groupby(['person_id','offer_id'],as_index=False)['view_time'].count()
viewed_cnt.rename(columns={'view_time':'viewed_cnt'},inplace=True) 
viewed_cnt

,person_id,offer_id,viewed_cnt
0,0009655768c64bdeb2e877511632db8f,3f207df678b143eea3cee63160fa8bed,1
1,0009655768c64bdeb2e877511632db8f,5a8bc65990b245e5a138643cd4eb9837,1
2,0009655768c64bdeb2e877511632db8f,f19421c1d4aa40978ebb69ca19b0e20d,1
3,0009655768c64bdeb2e877511632db8f,fafdcd668e3743c1bb461111dcafc2a4,1
4,00116118485d4dfda04fdbaba9a87b5c,f19421c1d4aa40978ebb69ca19b0e20d,2
5,0011e0d4e6b944f998e987f904e8c1e5,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
6,0011e0d4e6b944f998e987f904e8c1e5,2298d6c36e964ae4a3e7e9706d1fb8c2,1
7,0011e0d4e6b944f998e987f904e8c1e5,3f207df678b143eea3cee63160fa8bed,1
8,0011e0d4e6b944f998e987f904e8c1e5,5a8bc65990b245e5a138643cd4eb9837,1
9,0011e0d4e6b944f998e987f904e8c1e5,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
10,0020c2b971eb4e9188eac86d93036a77,4d5c57ea9a6940dd891ad53e9dbe8da0,1
11,0020c2b971eb4e9188eac86d93036a77,5a8bc65990b245e5a138643cd4eb9837,1
12,0020c2b971eb4e9188eac86d93036a77,fafdcd668e3743c1bb461111dcafc2a4,1
13,0020ccbbb6d84e358d3414a3ff76cffd,2298d6c36e964ae4a3e7e9706d1fb8c2,1
14,0020ccbbb6d84e358d3414a3ff76cffd,5a8bc65990b245e5a138643cd4eb9837,1
15,0020ccbbb6d84e358d3414a3ff76cffd,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
16,0020ccbbb6d84e358d3414a3ff76cffd,f19421c1d4aa40978ebb69ca19b0e20d,1
17,003d66b6608740288d6cc97a6903f4f0,3f207df678b143eea3cee63160fa8bed,1
18,003d66b6608740288d6cc97a6903f4f0,5a8bc65990b245e5a138643cd4eb9837,1
19,003d66b6608740288d6cc97a6903f4f0,fafdcd668e3743c1bb461111dcafc2a4,2
20,00426fe3ffde4c6b9cb9ad6d077a13ea,5a8bc65990b245e5a138643cd4eb9837,1
21,00426fe3ffde4c6b9cb9ad6d077a13ea,fafdcd668e3743c1bb461111dcafc2a4,1
22,004b041fbfe44859945daa2c7f79ee64,f19421c1d4aa40978ebb69ca19b0e20d,1
23,004b041fbfe44859945daa2c7f79ee64,fafdcd668e3743c1bb461111dcafc2a4,1
24,004c5799adbf42868b9cff0396190900,f19421c1d4aa40978ebb69ca19b0e20d,2
25,004c5799adbf42868b9cff0396190900,fafdcd668e3743c1bb461111dcafc2a4,2
26,005500a7188546ff8a767329a2f7c76a,ae264e3637204a6fb9bb56bc8210ddfd,3
27,0056df74b63b4298809f0b375a304cf4,2298d6c36e964ae4a3e7e9706d1fb8c2,1
28,0056df74b63b4298809f0b375a304cf4,3f207df678b143eea3cee63160fa8bed,1
29,0056df74b63b4298809f0b375a304cf4,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
...,...,...,...
49105,ffecb1f8543f4bf7bade023de366d6bf,0b1e1539f2cc45b7b9fa7c272da2e1d7,2
49106,ffecb1f8543f4bf7bade023de366d6bf,2906b810c7d4411798c6938adc9daaa5,1
49107,ffecb1f8543f4bf7bade023de366d6bf,5a8bc65990b245e5a138643cd4eb9837,1
49108,ffecb1f8543f4bf7bade023de366d6bf,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
49109,ffed75d3abc64b488982f50ed12878b5,4d5c57ea9a6940dd891ad53e9dbe8da0,1
49110,ffed75d3abc64b488982f50ed12878b5,ae264e3637204a6fb9bb56bc8210ddfd,1
49111,ffede3b700ac41d6a266fa1ba74b4f16,4d5c57ea9a6940dd891ad53e9dbe8da0,1
49112,ffede3b700ac41d6a266fa1ba74b4f16,f19421c1d4aa40978ebb69ca19b0e20d,1
49113,ffede3b700ac41d6a266fa1ba74b4f16,fafdcd668e3743c1bb461111dcafc2a4,1
49114,fff0f0aac6c547b9b263080f09a5586a,3f207df678b143eea3cee63160fa8bed,2
49115,fff0f0aac6c547b9b263080f09a5586a,4d5c57ea9a6940dd891ad53e9dbe8da0,1
49116,fff29fb549084123bd046dbc5ceb4faa,4d5c57ea9a6940dd891ad53e9dbe8da0,2
49117,fff29fb549084123bd046dbc5ceb4faa,ae264e3637204a6fb9bb56bc8210ddfd,1
49118,fff29fb549084123bd046dbc5ceb4faa,f19421c1d4aa40978ebb69ca19b0e20d,1
49119,fff29fb549084123bd046dbc5ceb4faa,fafdcd668e3743c1bb461111dcafc2a4,1
49120,fff3ba4757bd42088c044ca26d73817a,5a8bc65990b245e5a138643cd4eb9837,1
49121,fff3ba4757bd42088c044ca26d73817a,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
49122,fff3ba4757bd42088c044ca26d73817a,fafdcd668e3743c1bb461111dcafc2a4,1
49123,fff7576017104bcc8677a8d63322b5e1,4d5c57ea9a6940dd891ad53e9dbe8da0,1
49124,fff7576017104bcc8677a8d63322b5e1,ae264e3637204a6fb9bb56bc8210ddfd,1
49125,fff7576017104bcc8677a8d63322b5e1,fafdcd668e3743c1bb461111dcafc2a4,2
49126,fff8957ea8b240a6b5e634b6ee8eafcf,4d5c57ea9a6940dd891ad53e9dbe8da0,1
49127,fff8957ea8b240a6b5e634b6ee8eafcf,fafdcd668e3743c1bb461111dcafc2a4,1
49128,fffad4f4828548d1b5583907f2e9906b,5a8bc65990b245e5a138643cd4eb9837,1
49129,fffad4f4828548d1b5583907f2e9906b,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
49130,fffad4f4828548d1b5583907f2e9906b,f19421c1d4aa40978ebb69ca19b0e20d,2
49131,ffff82501cea40309d5fdd7edcca4a07,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
49132,ffff82501cea40309d5fdd7edcca4a07,2906b810c7d4411798c6938adc9daaa5,3
49133,ffff82501cea40309d5fdd7edcca4a07,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
49134,ffff82501cea40309d5fdd7edcca4a07,fafdcd668e3743c1bb461111dcafc2a4,1

In [15]:
# 1.3 把offer use的行为单独提取出来
offer_completed = transcript_new[transcript_new['event'] == 'offer completed'].loc[:,['person','time','offer_id','reward']]
#transcript_new[transcript_new['event'] == 'offer received']
offer_completed.rename(columns={'time':'use_time','person':'person_id'},inplace=True) 
offer_completed.head()

,person_id,use_time,offer_id,reward
12658,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,0,2906b810c7d4411798c6938adc9daaa5,2.0
12672,fe97aa22dd3e48c8b143116a8403dd52,0,fafdcd668e3743c1bb461111dcafc2a4,2.0
12679,629fc02d56414d91bca360decdfa9288,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,5.0
12692,676506bad68e4161b9bbaffeb039626b,0,ae264e3637204a6fb9bb56bc8210ddfd,10.0
12697,8f7dd3b2afe14c078eb4f6e6fe4ba97d,0,4d5c57ea9a6940dd891ad53e9dbe8da0,10.0

In [16]:
# 把'person_id','offer_id'相同的行汇总count，生成唯一的'person_id','offer_id'的组合
completed_cnt = offer_completed.groupby(['person_id','offer_id'],as_index=False)['use_time'].count()
completed_cnt.rename(columns={'use_time':'use_cnt'},inplace=True) 
completed_cnt

,person_id,offer_id,use_cnt
0,0009655768c64bdeb2e877511632db8f,2906b810c7d4411798c6938adc9daaa5,1
1,0009655768c64bdeb2e877511632db8f,f19421c1d4aa40978ebb69ca19b0e20d,1
2,0009655768c64bdeb2e877511632db8f,fafdcd668e3743c1bb461111dcafc2a4,1
3,0011e0d4e6b944f998e987f904e8c1e5,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
4,0011e0d4e6b944f998e987f904e8c1e5,2298d6c36e964ae4a3e7e9706d1fb8c2,1
5,0011e0d4e6b944f998e987f904e8c1e5,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
6,0020c2b971eb4e9188eac86d93036a77,4d5c57ea9a6940dd891ad53e9dbe8da0,1
7,0020c2b971eb4e9188eac86d93036a77,fafdcd668e3743c1bb461111dcafc2a4,2
8,0020ccbbb6d84e358d3414a3ff76cffd,2298d6c36e964ae4a3e7e9706d1fb8c2,1
9,0020ccbbb6d84e358d3414a3ff76cffd,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
10,0020ccbbb6d84e358d3414a3ff76cffd,f19421c1d4aa40978ebb69ca19b0e20d,1
11,003d66b6608740288d6cc97a6903f4f0,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
12,003d66b6608740288d6cc97a6903f4f0,fafdcd668e3743c1bb461111dcafc2a4,2
13,00426fe3ffde4c6b9cb9ad6d077a13ea,fafdcd668e3743c1bb461111dcafc2a4,1
14,004b041fbfe44859945daa2c7f79ee64,f19421c1d4aa40978ebb69ca19b0e20d,1
15,004b041fbfe44859945daa2c7f79ee64,fafdcd668e3743c1bb461111dcafc2a4,1
16,004c5799adbf42868b9cff0396190900,ae264e3637204a6fb9bb56bc8210ddfd,1
17,004c5799adbf42868b9cff0396190900,f19421c1d4aa40978ebb69ca19b0e20d,2
18,004c5799adbf42868b9cff0396190900,fafdcd668e3743c1bb461111dcafc2a4,2
19,005500a7188546ff8a767329a2f7c76a,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
20,0056df74b63b4298809f0b375a304cf4,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
21,0056df74b63b4298809f0b375a304cf4,2298d6c36e964ae4a3e7e9706d1fb8c2,1
22,0056df74b63b4298809f0b375a304cf4,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
23,0069a50874d846438e58acff5e594725,2906b810c7d4411798c6938adc9daaa5,1
24,00715b6e55c3431cb56ff7307eb19675,0b1e1539f2cc45b7b9fa7c272da2e1d7,2
25,00715b6e55c3431cb56ff7307eb19675,2906b810c7d4411798c6938adc9daaa5,1
26,00715b6e55c3431cb56ff7307eb19675,4d5c57ea9a6940dd891ad53e9dbe8da0,1
27,00715b6e55c3431cb56ff7307eb19675,ae264e3637204a6fb9bb56bc8210ddfd,1
28,0082fd87c18f45f2be70dbcbb0fb8aad,9b98b8c7a33c4b65b9aebfe6a799e6d9,2
29,00840a2ca5d2408e982d56544dc14ffd,2906b810c7d4411798c6938adc9daaa5,1
...,...,...,...
28966,ffd53e5ba61d41378b66efc00d9f9682,2298d6c36e964ae4a3e7e9706d1fb8c2,1
28967,ffd53e5ba61d41378b66efc00d9f9682,2906b810c7d4411798c6938adc9daaa5,1
28968,ffd53e5ba61d41378b66efc00d9f9682,9b98b8c7a33c4b65b9aebfe6a799e6d9,2
28969,ffd53e5ba61d41378b66efc00d9f9682,ae264e3637204a6fb9bb56bc8210ddfd,1
28970,ffda4545e7084ff6aaf01304fb1c1fa6,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
28971,ffda4545e7084ff6aaf01304fb1c1fa6,fafdcd668e3743c1bb461111dcafc2a4,1
28972,ffdefcac307f4ca99ac1ebd51470f106,2906b810c7d4411798c6938adc9daaa5,1
28973,ffdefcac307f4ca99ac1ebd51470f106,4d5c57ea9a6940dd891ad53e9dbe8da0,1
28974,ffdefcac307f4ca99ac1ebd51470f106,9b98b8c7a33c4b65b9aebfe6a799e6d9,2
28975,ffdefcac307f4ca99ac1ebd51470f106,fafdcd668e3743c1bb461111dcafc2a4,1
28976,ffe5257abf8840b395e1ee6b29894637,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
28977,ffe5257abf8840b395e1ee6b29894637,2906b810c7d4411798c6938adc9daaa5,1
28978,ffe5257abf8840b395e1ee6b29894637,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
28979,ffeaa02452ef451082a0361c3ca62ef5,2906b810c7d4411798c6938adc9daaa5,2
28980,ffeaa02452ef451082a0361c3ca62ef5,ae264e3637204a6fb9bb56bc8210ddfd,1
28981,fff29fb549084123bd046dbc5ceb4faa,4d5c57ea9a6940dd891ad53e9dbe8da0,2
28982,fff29fb549084123bd046dbc5ceb4faa,ae264e3637204a6fb9bb56bc8210ddfd,2
28983,fff29fb549084123bd046dbc5ceb4faa,f19421c1d4aa40978ebb69ca19b0e20d,1
28984,fff29fb549084123bd046dbc5ceb4faa,fafdcd668e3743c1bb461111dcafc2a4,1
28985,fff3ba4757bd42088c044ca26d73817a,2906b810c7d4411798c6938adc9daaa5,1
28986,fff3ba4757bd42088c044ca26d73817a,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
28987,fff3ba4757bd42088c044ca26d73817a,fafdcd668e3743c1bb461111dcafc2a4,1
28988,fff7576017104bcc8677a8d63322b5e1,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
28989,fff7576017104bcc8677a8d63322b5e1,fafdcd668e3743c1bb461111dcafc2a4,2
28990,fffad4f4828548d1b5583907f2e9906b,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
28991,fffad4f4828548d1b5583907f2e9906b,f19421c1d4aa40978ebb69ca19b0e20d,2
28992,ffff82501cea40309d5fdd7edcca4a07,0b1e1539f2cc45b7b9fa7c272da2e1d7,1
28993,ffff82501cea40309d5fdd7edcca4a07,2906b810c7d4411798c6938adc9daaa5,3
28994,ffff82501cea40309d5fdd7edcca4a07,9b98b8c7a33c4b65b9aebfe6a799e6d9,1
28995,ffff82501cea40309d5fdd7edcca4a07,fafdcd668e3743c1bb461111dcafc2a4,1

In [17]:
# 1.4 把收到offer，view offer，use offer的行为都合并起来，并且merge顾客和offer的属性

offer_person_detail = pd.merge(received_cnt, viewed_cnt, how='left', on=['person_id','offer_id'])
offer_person_detail = pd.merge(offer_person_detail, completed_cnt, how='left', on=['person_id','offer_id'])
offer_person_detail = pd.merge(offer_person_detail, profile, how='left', on=['person_id'])
offer_person_detail = pd.merge(offer_person_detail, portfolio, how='left', on=['offer_id'])
offer_person_detail

,person_id,offer_id,receive_cnt,viewed_cnt,use_cnt,age,became_member_on,gender,income,income_type,age_type,channels,difficulty,duration,offer_type,reward
0,0009655768c64bdeb2e877511632db8f,2906b810c7d4411798c6938adc9daaa5,1,NaN,1.0,33,20170421,M,72000.0,50001~100000,30~40y,"[web, email, mobile]",10,7,discount,2
1,0009655768c64bdeb2e877511632db8f,3f207df678b143eea3cee63160fa8bed,1,1.0,NaN,33,20170421,M,72000.0,50001~100000,30~40y,"[web, email, mobile]",0,4,informational,0
2,0009655768c64bdeb2e877511632db8f,5a8bc65990b245e5a138643cd4eb9837,1,1.0,NaN,33,20170421,M,72000.0,50001~100000,30~40y,"[email, mobile, social]",0,3,informational,0
3,0009655768c64bdeb2e877511632db8f,f19421c1d4aa40978ebb69ca19b0e20d,1,1.0,1.0,33,20170421,M,72000.0,50001~100000,30~40y,"[web, email, mobile, social]",5,5,bogo,5
4,0009655768c64bdeb2e877511632db8f,fafdcd668e3743c1bb461111dcafc2a4,1,1.0,1.0,33,20170421,M,72000.0,50001~100000,30~40y,"[web, email, mobile, social]",10,10,discount,2
5,00116118485d4dfda04fdbaba9a87b5c,f19421c1d4aa40978ebb69ca19b0e20d,2,2.0,NaN,118,20180425,None,NaN,NaN,None,"[web, email, mobile, social]",5,5,bogo,5
6,0011e0d4e6b944f998e987f904e8c1e5,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,1.0,1.0,40,20180109,O,57000.0,50001~100000,30~40y,"[web, email]",20,10,discount,5
7,0011e0d4e6b944f998e987f904e8c1e5,2298d6c36e964ae4a3e7e9706d1fb8c2,1,1.0,1.0,40,20180109,O,57000.0,50001~100000,30~40y,"[web, email, mobile, social]",7,7,discount,3
8,0011e0d4e6b944f998e987f904e8c1e5,3f207df678b143eea3cee63160fa8bed,1,1.0,NaN,40,20180109,O,57000.0,50001~100000,30~40y,"[web, email, mobile]",0,4,informational,0
9,0011e0d4e6b944f998e987f904e8c1e5,5a8bc65990b245e5a138643cd4eb9837,1,1.0,NaN,40,20180109,O,57000.0,50001~100000,30~40y,"[email, mobile, social]",0,3,informational,0
10,0011e0d4e6b944f998e987f904e8c1e5,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,1.0,1.0,40,20180109,O,57000.0,50001~100000,30~40y,"[web, email, mobile]",5,7,bogo,5
11,0020c2b971eb4e9188eac86d93036a77,4d5c57ea9a6940dd891ad53e9dbe8da0,1,1.0,1.0,59,20160304,F,90000.0,50001~100000,50~60y,"[web, email, mobile, social]",10,5,bogo,10
12,0020c2b971eb4e9188eac86d93036a77,5a8bc65990b245e5a138643cd4eb9837,1,1.0,NaN,59,20160304,F,90000.0,50001~100000,50~60y,"[email, mobile, social]",0,3,informational,0
13,0020c2b971eb4e9188eac86d93036a77,ae264e3637204a6fb9bb56bc8210ddfd,1,NaN,NaN,59,20160304,F,90000.0,50001~100000,50~60y,"[email, mobile, social]",10,7,bogo,10
14,0020c2b971eb4e9188eac86d93036a77,fafdcd668e3743c1bb461111dcafc2a4,2,1.0,2.0,59,20160304,F,90000.0,50001~100000,50~60y,"[web, email, mobile, social]",10,10,discount,2
15,0020ccbbb6d84e358d3414a3ff76cffd,2298d6c36e964ae4a3e7e9706d1fb8c2,1,1.0,1.0,24,20161111,F,60000.0,50001~100000,20~30y,"[web, email, mobile, social]",7,7,discount,3
16,0020ccbbb6d84e358d3414a3ff76cffd,5a8bc65990b245e5a138643cd4eb9837,1,1.0,NaN,24,20161111,F,60000.0,50001~100000,20~30y,"[email, mobile, social]",0,3,informational,0
17,0020ccbbb6d84e358d3414a3ff76cffd,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,1.0,1.0,24,20161111,F,60000.0,50001~100000,20~30y,"[web, email, mobile]",5,7,bogo,5
18,0020ccbbb6d84e358d3414a3ff76cffd,f19421c1d4aa40978ebb69ca19b0e20d,1,1.0,1.0,24,20161111,F,60000.0,50001~100000,20~30y,"[web, email, mobile, social]",5,5,bogo,5
19,003d66b6608740288d6cc97a6903f4f0,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,NaN,1.0,26,20170621,F,73000.0,50001~100000,20~30y,"[web, email]",20,10,discount,5
20,003d66b6608740288d6cc97a6903f4f0,3f207df678b143eea3cee63160fa8bed,1,1.0,NaN,26,20170621,F,73000.0,50001~100000,20~30y,"[web, email, mobile]",0,4,informational,0
21,003d66b6608740288d6cc97a6903f4f0,5a8bc65990b245e5a138643cd4eb9837,1,1.0,NaN,26,20170621,F,73000.0,50001~100000,20~30y,"[email, mobile, social]",0,3,informational,0
22,003d66b6608740288d6cc97a6903f4f0,fafdcd668e3743c1bb461111dcafc2a4,2,2.0,2.0,26,20170621,F,73000.0,50001~100000,20~30y,"[web, email, mobile, social]",10,10,discount,2
23,00426fe3ffde4c6b9cb9ad6d077a13ea,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,NaN,NaN,19,20160809,F,65000.0,50001~100000,10~20y,"[web, email]",20,10,discount,5
24,00426fe3ffde4c6b9cb9ad6d077a13ea,2906b810c7d4411798c6938adc9daaa5,2,NaN,NaN,19,20160809,F,65000.0,50001~100000,10~20y,"[web, email, mobile]",10,7,discount,2
25,00426fe3ffde4c6b9cb9ad6d077a13ea,5a8bc65990b245e5a138643cd4eb9837,1,1.0,NaN,19,20160809,F,65000.0,50001~100000,10~20y,"[email, mobile, social]",0,3,informational,0
26,00426fe3ffde4c6b9cb9ad6d077a13ea,fafdcd668e3743c1bb461111dcafc2a4,1,1.0,1.0,19,20160809,F,65000.0,50001~100000,10~20y,"[web, email, mobile, social]",10,10,discount,2
27,004b041fbfe44859945daa2c7f79ee64,3f207df678b143eea3cee63160fa8bed,1,NaN,NaN,55,20180508,F,74000.0,50001~100000,50~60y,"[web, email, mobile]",0,4,informational,0
28,004b041fbfe44859945daa2c7f79ee64,f19421c1d4aa40978ebb69ca19b0e20d,1,1.0,1.0,55,20180508,F,74000.0,50001~100000,50~60y,"[web, email, mobile, social]",5,5,bogo,5
29,004b041fbfe44859945daa2c7f79ee64,fafdcd668e3743c1bb461111dcafc2a4,1,1.0,1.0,55,20180508,F,74000.0,50001~100000,50~60y,"[web, email, mobile, social]",10,10,discount,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63258,ffed75d3abc64b488982f50ed12878b5,4d5c57ea9a6940dd891ad53e9dbe8da0,1,1.0,NaN,20,20180315,M,44000.0,0~50000,10~20y,"[web, email, mobile, social]",10,5,bogo,10
63259,ffed75d3abc64b488982f50ed12878b5,ae264e3637204a6fb9bb56bc8210ddfd,1,1.0,NaN,20,20180315,M,44000.0,0~50000,10~20y,"[email, mobile, social]",10,7,bogo,10
63260,ffede3b700ac41d6a266fa1ba74b4f16,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,NaN,NaN,118,20180704,None,NaN,NaN,None,"[web, email]",20,10,discount,5
63261,ffede3b700ac41d6a266fa1ba74b4f16,4d5c57ea9a6940dd891ad53e9dbe8da0,1,1.0,NaN,118,20180704,None,NaN,NaN,None,"[web, email, mobile, social]",10,5,bogo,10
63262,ffede3b700ac41d6a266fa1ba74b4f16,f19421c1d4aa40978ebb69ca19b0e20d,1,1.0,NaN,118,20180704,None,NaN,NaN,None,"[web, email, mobile, social]",5,5,bogo,5
63263,ffede3b700ac41d6a266fa1ba74b4f16,fafdcd668e3743c1bb461111dcafc2a4,1,1.0,NaN,118,20180704,None,NaN,NaN,None,"[web, email, mobile, social]",10,10,discount,2
63264,fff0f0aac6c547b9b263080f09a5586a,3f207df678b143eea3cee63160fa8bed,2,2.0,NaN,67,20170615,M,80000.0,50001~100000,60~70y,"[web, email, mobile]",0,4,informational,0
63265,fff0f0aac6c547b9b263080f09a5586a,4d5c57ea9a6940dd891ad53e9dbe8da0,1,1.0,NaN,67,20170615,M,80000.0,50001~100000,60~70y,"[web, email, mobile, social]",10,5,bogo,10
63266,fff29fb549084123bd046dbc5ceb4faa,4d5c57ea9a6940dd891ad53e9dbe8da0,2,2.0,2.0,59,20170831,F,93000.0,50001~100000,50~60y,"[web, email, mobile, social]",10,5,bogo,10
63267,fff29fb549084123bd046dbc5ceb4faa,ae264e3637204a6fb9bb56bc8210ddfd,2,1.0,2.0,59,20170831,F,93000.0,50001~100000,50~60y,"[email, mobile, social]",10,7,bogo,10
63268,fff29fb549084123bd046dbc5ceb4faa,f19421c1d4aa40978ebb69ca19b0e20d,1,1.0,1.0,59,20170831,F,93000.0,50001~100000,50~60y,"[web, email, mobile, social]",5,5,bogo,5
63269,fff29fb549084123bd046dbc5ceb4faa,fafdcd668e3743c1bb461111dcafc2a4,1,1.0,1.0,59,20170831,F,93000.0,50001~100000,50~60y,"[web, email, mobile, social]",10,10,discount,2
63270,fff3ba4757bd42088c044ca26d73817a,2906b810c7d4411798c6938adc9daaa5,2,NaN,1.0,69,20150920,F,83000.0,50001~100000,60~70y,"[web, email, mobile]",10,7,discount,2
63271,fff3ba4757bd42088c044ca26d73817a,5a8bc65990b245e5a138643cd4eb9837,2,1.0,NaN,69,20150920,F,83000.0,50001~100000,60~70y,"[email, mobile, social]",0,3,informational,0
63272,fff3ba4757bd42088c044ca26d73817a,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,1.0,1.0,69,20150920,F,83000.0,50001~100000,60~70y,"[web, email, mobile]",5,7,bogo,5
63273,fff3ba4757bd42088c044ca26d73817a,fafdcd668e3743c1bb461111dcafc2a4,1,1.0,1.0,69,20150920,F,83000.0,50001~100000,60~70y,"[web, email, mobile, social]",10,10,discount,2
63274,fff7576017104bcc8677a8d63322b5e1,4d5c57ea9a6940dd891ad53e9dbe8da0,1,1.0,NaN,71,20171031,M,73000.0,50001~100000,70~80y,"[web, email, mobile, social]",10,5,bogo,10
63275,fff7576017104bcc8677a8d63322b5e1,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,NaN,1.0,71,20171031,M,73000.0,50001~100000,70~80y,"[web, email, mobile]",5,7,bogo,5
63276,fff7576017104bcc8677a8d63322b5e1,ae264e3637204a6fb9bb56bc8210ddfd,1,1.0,NaN,71,20171031,M,73000.0,50001~100000,70~80y,"[email, mobile, social]",10,7,bogo,10
63277,fff7576017104bcc8677a8d63322b5e1,fafdcd668e3743c1bb461111dcafc2a4,2,2.0,2.0,71,20171031,M,73000.0,50001~100000,70~80y,"[web, email, mobile, social]",10,10,discount,2
63278,fff8957ea8b240a6b5e634b6ee8eafcf,3f207df678b143eea3cee63160fa8bed,1,NaN,NaN,71,20180218,M,56000.0,50001~100000,70~80y,"[web, email, mobile]",0,4,informational,0
63279,fff8957ea8b240a6b5e634b6ee8eafcf,4d5c57ea9a6940dd891ad53e9dbe8da0,1,1.0,NaN,71,20180218,M,56000.0,50001~100000,70~80y,"[web, email, mobile, social]",10,5,bogo,10
63280,fff8957ea8b240a6b5e634b6ee8eafcf,fafdcd668e3743c1bb461111dcafc2a4,1,1.0,NaN,71,20180218,M,56000.0,50001~100000,70~80y,"[web, email, mobile, social]",10,10,discount,2
63281,fffad4f4828548d1b5583907f2e9906b,5a8bc65990b245e5a138643cd4eb9837,1,1.0,NaN,34,20170123,M,34000.0,0~50000,30~40y,"[email, mobile, social]",0,3,informational,0
63282,fffad4f4828548d1b5583907f2e9906b,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,1.0,1.0,34,20170123,M,34000.0,0~50000,30~40y,"[web, email, mobile]",5,7,bogo,5
63283,fffad4f4828548d1b5583907f2e9906b,f19421c1d4aa40978ebb69ca19b0e20d,2,2.0,2.0,34,20170123,M,34000.0,0~50000,30~40y,"[web, email, mobile, social]",5,5,bogo,5
63284,ffff82501cea40309d5fdd7edcca4a07,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,1.0,1.0,45,20161125,F,62000.0,50001~100000,40~50y,"[web, email]",20,10,discount,5
63285,ffff82501cea40309d5fdd7edcca4a07,2906b810c7d4411798c6938adc9daaa5,3,3.0,3.0,45,20161125,F,62000.0,50001~100000,40~50y,"[web, email, mobile]",10,7,discount,2
63286,ffff82501cea40309d5fdd7edcca4a07,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,1.0,1.0,45,20161125,F,62000.0,50001~100000,40~50y,"[web, email, mobile]",5,7,bogo,5
63287,ffff82501cea40309d5fdd7edcca4a07,fafdcd668e3743c1bb461111dcafc2a4,1,1.0,1.0,45,20161125,F,62000.0,50001~100000,40~50y,"[web, email, mobile, social]",10,10,discount,2

In [18]:
offer_person_detail.to_excel('offer_person_detail.xlsx')

In [19]:
# 2.1 看看各个人群的交易行为如何？ 把transaction的行为单独提取出来
transaction_log = transcript_new[transcript_new['event'] == 'transaction'].loc[:,['person','time','amount']]
transaction_log.rename(columns={'time':'transaction_time','person':'person_id'},inplace=True) 
transaction_log.head()

                              person_id  transaction_time  amount
12654  02c083884c7d45b39cc68e1314fec56c                 0    0.83
12657  9fa9ae8f57894cc9a3b8a9bbe0fc1b2f                 0   34.56
12659  54890f68699049c2a04d415abc25e717                 0   13.23
12670  b2f1cd155b864803ad8334cdf13c4bd2                 0   19.51
12671  fe97aa22dd3e48c8b143116a8403dd52                 0   18.97

In [20]:
# 2.2 把交易行为merge顾客的属性（交易行为没有和offer关联）
trans_person_detail = pd.merge(transaction_log, profile, how='left', on=['person_id'])
trans_person_detail

,person_id,transaction_time,amount,age,became_member_on,gender,income,income_type,age_type
0,02c083884c7d45b39cc68e1314fec56c,0,0.83,20,20160711,F,30000.0,0~50000,10~20y
1,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,0,34.56,42,20160117,M,96000.0,50001~100000,40~50y
2,54890f68699049c2a04d415abc25e717,0,13.23,36,20171228,M,56000.0,50001~100000,30~40y
3,b2f1cd155b864803ad8334cdf13c4bd2,0,19.51,55,20171016,F,94000.0,50001~100000,50~60y
4,fe97aa22dd3e48c8b143116a8403dd52,0,18.97,39,20171217,F,67000.0,50001~100000,30~40y
5,629fc02d56414d91bca360decdfa9288,0,33.90,52,20180605,M,72000.0,50001~100000,50~60y
6,bbeb54e861614fc7b22a8844f72dca6c,0,0.22,118,20171207,None,NaN,NaN,None
7,a97e6f33219c432db82acfa0d19c602d,0,18.59,75,20130806,F,69000.0,50001~100000,70~80y
8,676506bad68e4161b9bbaffeb039626b,0,18.01,37,20170515,M,92000.0,50001~100000,30~40y
9,8f7dd3b2afe14c078eb4f6e6fe4ba97d,0,19.11,48,20150903,M,62000.0,50001~100000,40~50y
10,4cbe33c601a5407f8202086565c55111,0,36.19,53,20171015,M,87000.0,50001~100000,50~60y
11,b432b74402bb4981a4651c8df1670365,0,6.46,63,20170912,F,70000.0,50001~100000,60~70y
12,a04fcfd571034456aaa6d56c0a3fd9b6,0,5.02,57,20180408,F,37000.0,0~50000,50~60y
13,227f2d69e46a4899b70d48182822cff6,0,28.39,51,20180512,M,100000.0,50001~100000,50~60y
14,bb0f25e23a4c4de6a645527c275cd594,0,28.08,56,20140611,M,76000.0,50001~100000,50~60y
15,c2c72ce6038644c797208046d1e3498a,0,0.75,49,20171016,F,57000.0,50001~100000,40~50y
16,7ca349e55ff544c7a13addfdea2e2c06,0,1.02,118,20170828,None,NaN,NaN,None
17,d72d201be5794279aa716d8ad82b8d90,0,13.57,51,20160223,F,73000.0,50001~100000,50~60y
18,ad80753fc9e0485c9e6b1cc9478d827f,0,10.22,61,20180224,M,68000.0,50001~100000,60~70y
19,73ffefd41e9a4ca3ab26b2b3697c6eb7,0,31.42,67,20150929,F,67000.0,50001~100000,60~70y
20,3e621194f72e40d7a0b695ee9b7c38b7,0,27.89,59,20170816,F,90000.0,50001~100000,50~60y
21,1f5c961416e64c5d88098b02b1bdf246,0,4.20,43,20140128,M,41000.0,0~50000,40~50y
22,3bcc51fdde354eb1949c813dbc905182,0,13.05,54,20160613,F,52000.0,50001~100000,50~60y
23,ed46fca6de7042478b411690878dc069,0,1.16,118,20180405,None,NaN,NaN,None
24,b860d355ef6e4c66b5d5a837c56ef32d,0,38.38,49,20171226,F,110000.0,100000~150000,40~50y
25,4ad3748475204cf99571183f05b5e2f7,0,4.08,60,20140810,M,56000.0,50001~100000,50~60y
26,99297ea01107436fa8c2e2bc86f55d89,0,5.78,62,20170325,M,35000.0,0~50000,60~70y
27,24115a61df25473e84a8a03f3c98de1a,0,14.27,54,20180523,M,39000.0,0~50000,50~60y
28,7195944f0cc34115b0a5e7b4a62055f2,0,11.52,47,20160306,F,77000.0,50001~100000,40~50y
29,afce4cf8194f4e90a3e92da941a23601,0,13.93,31,20160926,M,55000.0,50001~100000,30~40y
...,...,...,...,...,...,...,...,...,...
138923,f0ffaed9279946f1bc29614a234f1ee1,714,1.43,59,20180527,M,45000.0,0~50000,50~60y
138924,93907d06a946424ba630487fe7aeafd1,714,28.03,67,20180520,F,71000.0,50001~100000,60~70y
138925,588ceea482344c3ab6845c83aaed4ac0,714,1.08,76,20150926,M,52000.0,50001~100000,70~80y
138926,a97208c5be42445d9949e82e0f70f622,714,5.80,51,20160707,O,55000.0,50001~100000,50~60y
138927,8524d450673b4c24869b6c94380006de,714,4.89,70,20180604,M,75000.0,50001~100000,60~70y
138928,b895c57e8cd047a8872ce02aa54759d6,714,4.48,118,20170125,None,NaN,NaN,None
138929,8431c16f8e1d440880db371a68f82dd0,714,1.19,39,20180627,M,39000.0,0~50000,30~40y
138930,ba620885e51c4b0ea64a4f61daad494f,714,14.31,33,20180119,F,68000.0,50001~100000,30~40y
138931,a1a8f40407c444cc848468275308958a,714,2.37,62,20180303,M,63000.0,50001~100000,60~70y
138932,8d80970192fa496f99d6b45c470a4b60,714,6.92,30,20171018,M,62000.0,50001~100000,20~30y
138933,bde275066f3c4fa0bff3093e3b866a2c,714,12.73,37,20170925,M,65000.0,50001~100000,30~40y
138934,f1e4fd36e5a0446f83861308bddf6945,714,8.20,42,20170115,M,56000.0,50001~100000,40~50y
138935,0b64be3b241c4407a5c9a71781173829,714,2.60,65,20180427,F,42000.0,0~50000,60~70y
138936,86d03d35d7e0434b935e7743e83be3a0,714,9.20,57,20161226,F,53000.0,50001~100000,50~60y
138937,3408fd05c781401f8442fb6dbaaea9c7,714,11.70,24,20170201,M,48000.0,0~50000,20~30y
138938,1593d617fac246ef8e50dbb0ffd77f5f,714,40.67,101,20171127,F,82000.0,50001~100000,>100y
138939,f1b31d07b5d84f69a2d5f1d07843989e,714,31.13,62,20170109,M,84000.0,50001~100000,60~70y
138940,2ce987015ec0404a97ba333e8e814090,714,1.64,38,20130808,M,61000.0,50001~100000,30~40y
138941,2e33545f0a764d27b2ccff95fc8d72c4,714,17.35,48,20160510,M,64000.0,50001~100000,40~50y
138942,d1c4500ace2e45e9a45d3cd2fccac8d8,714,4.42,87,20140920,M,59000.0,50001~100000,80~90y
138943,b65affd9e07346a1906364a396950e3d,714,18.35,48,20170321,M,69000.0,50001~100000,40~50y
138944,d613ca9c59dd42f497bdbf6178da54a7,714,25.14,47,20160423,F,68000.0,50001~100000,40~50y
138945,eec70ab28af74a22a4aeb889c0317944,714,43.58,56,20170418,M,95000.0,50001~100000,50~60y
138946,24f56b5e1849462093931b164eb803b5,714,22.64,48,20171228,F,80000.0,50001~100000,40~50y
138947,5ca2620962114246ab218fc648eb3934,714,2.20,118,20171029,None,NaN,NaN,None
138948,b3a1272bc9904337b331bf348c3e8c17,714,1.59,66,20180101,M,47000.0,0~50000,60~70y
138949,68213b08d99a4ae1b0dcb72aebd9aa35,714,9.53,52,20180408,M,62000.0,50001~100000,50~60y
138950,a00058cf10334a308c68e7631c529907,714,3.61,63,20130922,F,52000.0,50001~100000,60~70y
138951,76ddbd6576844afe811f1a3c0fbb5bec,714,3.53,57,20160709,M,40000.0,0~50000,50~60y
138952,c02b10e8752c4d8e9b73f918558531f7,714,4.05,118,20151211,None,NaN,NaN,None

In [21]:
trans_person_detail.shape

(138953, 9)

In [22]:
trans_person_detail.to_excel('trans_person_detail.xlsx')

In [16]:
# 
received_summary = offer_received_person.groupby(['gender','income_type','age_type','difficulty','duration','offer_type','reward'])['person_id'].count().to_frame()
received_summary.rename(columns={'person_id':'receive_person_cnt'},inplace=True) 
received_summary

                                                                       receive_person_cnt
gender income_type  age_type difficulty duration offer_type    reward
F      0~50000      10~20y   0          3        informational 0                       18
                                        4        informational 0                       20
                             5          5        bogo          5                       20
                                        7        bogo          5                       13
                             7          7        discount      3                       14
                             10         5        bogo          10                      21
                                        7        bogo          10                      19
                                                 discount      2                       12
                                        10       discount      2                        7
                             20         10       discount      5                       12
                    20~30y   0          3        informational 0                       89
                                        4        informational 0                       96
                             5          5        bogo          5                       91
                                        7        bogo          5                       85
                             7          7        discount      3                       88
                             10         5        bogo          10                      96
                                        7        bogo          10                      87
                                                 discount      2                       85
                                        10       discount      2                       76
                             20         10       discount      5                       82
                    30~40y   0          3        informational 0                       87
                                        4        informational 0                       95
                             5          5        bogo          5                       80
                                        7        bogo          5                       96
                             7          7        discount      3                       81
                             10         5        bogo          10                      86
                                        7        bogo          10                     104
                                                 discount      2                       88
                                        10       discount      2                       86
                             20         10       discount      5                      104
...                                                                                   ...
O      50001~100000 60~70y   10         5        bogo          10                       6
                                        7        bogo          10                      13
                                                 discount      2                       11
                                        10       discount      2                        6
                             20         10       discount      5                        5
                    70~80y   0          3        informational 0                        8
                                        4        informational 0                       10
                             5          5        bogo          5                        8
                                        7        bogo          5                       16
                             7          7        discount      3                        8
                             10         5        bogo          10                       4
                                        7        bogo          10                       8
                                                 discount      2                       10
                                        10       discount      2                       12
                             20         10       discount      5                        9
                    80~90y   0          3        informational 0                        6
                                        4        informational 0                        3
                             5          5        bogo          5                        2
                                        7        bogo          5                        3
                             7          7        discount      3                        4
                             10         5        bogo          10                       8
                                        7        bogo          10                       2
                                                 discount      2                        4
                                        10       discount      2                        1
                             20         10       discount      5                        4
                    90~100y  0          4        informational 0                        1
                             5          5        bogo          5                        1
                                        7        bogo          5                        1
                             7          7        discount      3                        1
                             10         5        bogo          10                       3

[635 rows x 1 columns]

In [18]:
offer_received_person.to_excel('offer_received_person.xlsx')

In [ ]:
# 计算每个不同顾客类型以及不同offer的行为（次数）
#offer_received_person = pd.merge(offer_received, profile, how='left', on=['person_id'])
#offer_received_person = pd.merge(offer_received_person, portfolio, how='left', on=['offer_id'])

In [28]:
# 把所有offer和 receive offer行为连接起来
#offer_detail = pd.merge(portfolio, offer_received, how='left', on=['offer_id'])
#offer_detail

In [29]:
# 把所有offer和 view offer的行为关联起来
# offer_detail = pd.merge(offer_detail, offer_viewed, how='outer', on=['offer_id','person'])
# offer_detail

In [30]:
# 把所有offer和 use offer的行为关联起来
#offer_detail = pd.merge(offer_detail, offer_completed, how='outer', on=['offer_id','person'])
#offer_detail

```python

```